@media screen {
.no-screen {
    display: none;
  }
}

@media print{
 *{
     -webkit-print-color-adjust: exact;
 }
	
.no-print{
    display: none;
  }
	
.hide-on-screen {
　　display:block;
}

main{
    padding-top: 0px;
}

.page-break {
    break-before: always;
}

@page {
    size: A4 portrait;
    margin: 12.7mm 9.7mm;
}
	
}

@media all and (-ms-high-contrast: none){
.page-break {
      break-before: auto;
}
}
